/*************************************************
 *  People widget
 **************************************************/

.people-widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.8rem;
  text-align: center;
}

.people-widget .portrait-title h2 {
  font-size: 1rem;
}

.people-widget .portrait-title h3 {
  font-size: 0.7rem;
}

.people-widget .avatar {
  width: 80%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}

.people-widget .col-sm-auto {
  width: auto; /* 或最大宽度 */
  max-width: 150px; /* 保证头像不太大 */
}

@media (min-width: 576px) {
  .people-widget .col-sm-auto {
    width: 30%;
  }
}
@media (min-width: 992px) {
  .people-widget .col-sm-auto {
    width: 20%;
  }
}
