{{- define "main" -}}

{{/* 页面头部 */}}
<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">
    
    {{/* 左侧筛选栏 - 占 1/4 */}}
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
      {{ partial "publications/filters" . }}
    </div>
    
    {{/* 右侧内容 - 占 3/4 */}}
    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
      <div class="publications-header">
        <h1>{{ .Title }}</h1>
        <div class="publication-stats">
          <span class="stat-badge">{{ len .Pages }} publications</span>
          <span class="stat-badge" id="filtered-count">{{ len .Pages }} shown</span>
        </div>
      </div>
      
      {{/* 论文列表 */}}
      <div id="publications-container">
        {{ range .Pages.ByDate.Reverse }}
        <div class="publication-card" 
             data-year="{{ .Date.Format "2006" }}"
             data-type="{{ with .Params.publication_types }}{{ index . 0 }}{{ end }}"
             data-tags="{{ with .Params.tags }}{{ delimit . " " }}{{ end }}">
          
          {{/* 顶部徽章 */}}
          <div class="publication-badges">
            {{ with .Params.publication_types }}
              {{ if eq (index . 0) "1" }}
              <span class="badge badge-conference">Conference</span>
              {{ else if eq (index . 0) "2" }}
              <span class="badge badge-journal">Journal</span>
              {{ end }}
            {{ end }}
            
            {{ with .Params.publication_short }}
            <span class="badge badge-venue">{{ . }}</span>
            {{ end }}
            
            {{ with .Params.featured }}
            <span class="badge badge-featured">⭐ Featured</span>
            {{ end }}
          </div>
          
          {{/* 标题 */}}
          <h3 class="publication-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          
          {{/* 作者 - 突出显示你自己 */}}
          <div class="publication-authors">
            {{ $authors := .Params.authors }}
            {{ range $index, $author := $authors }}
              {{ if eq $author "Lingxi Xie" }}
                <span class="author-self">{{ $author }}</span>
              {{ else }}
                <span class="author-other">{{ $author }}</span>
              {{ end }}
              {{ if ne (add $index 1) (len $authors) }}, {{ end }}
            {{ end }}
          </div>
          
          {{/* 会议/期刊信息 */}}
          <div class="publication-venue">
            {{ with .Params.publication }}
            {{ . }}
            {{ end }}
            
            {{ with .Date }}
            <span class="publication-year">{{ .Format "2006" }}</span>
            {{ end }}
          </div>
          
          {{/* 链接按钮 */}}
          <div class="publication-links">
            {{ with .Params.url_pdf }}
            <a href="{{ . }}" class="link-btn" target="_blank" title="PDF">
              <i class="fas fa-file-pdf"></i> PDF
            </a>
            {{ end }}
            
            {{ with .Params.url_code }}
            <a href="{{ . }}" class="link-btn" target="_blank" title="Code">
              <i class="fas fa-code"></i> Code
            </a>
            {{ end }}
            
            {{ with .Params.doi }}
            <a href="https://doi.org/{{ . }}" class="link-btn" target="_blank" title="DOI">
              <i class="fas fa-external-link-alt"></i> DOI
            </a>
            {{ end }}
            
            {{ with .Params.url_video }}
            <a href="{{ . }}" class="link-btn" target="_blank" title="Video">
              <i class="fas fa-video"></i> Video
            </a>
            {{ end }}
            
            <button class="link-btn btn-bibtex" onclick="copyBibtex(this)" data-title="{{ .Title }}" data-authors="{{ delimit .Params.authors " and " }}" data-venue="{{ .Params.publication }}" data-year="{{ .Date.Format "2006" }}" data-doi="{{ .Params.doi }}">
              <i class="fas fa-quote-right"></i> BibTeX
            </button>
          </div>
          
        </div>
        {{ end }}
      </div>
    </div>
    
  </div>
</div>

{{/* BibTeX 模态框 */}}
<div id="bibtex-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <pre id="bibtex-content"></pre>
    <button class="btn-copy" onclick="copyToClipboard()">Copy to Clipboard</button>
  </div>
</div>

{{- end -}}
